* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    --clr: #F40000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E5E5E5;
    height: 100vh;
}

#playButton {
    border: none;
    border-radius: 15px;
    background-color: #F40000;
    width: 15vw;
    height: 10vh;
    font-size: 2em;
    font-weight: 800;
    color: white;
}

#playButton:hover {
    cursor: pointer;
    background-color: #da0000;
}

#playButton:active {
    background-color: #be0000;
}

#timer {
    display: flex;
    gap: 30px;
}

#timer .circle {
    position: relative;
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#timer .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#timer .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke: #ffbbbb;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

#timer .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

#timer div {
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

#timer .dots{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}

#timer .dots::before{
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
