<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carmovie - Home</title>

        <link rel="stylesheet" href="../static/css/all.css">
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <header>
            <h1>CARMOVIE</h1>
            <input type="text" placeholder="Search...">
            <div class="page-nav">
                <a href="../templates/home.html">Home</a>
                <a href="../templates/quiz.html">Quizz</a>
            </div>
        </header>
        <div class="film">
            <button onclick="window.location.href='./templates/showcase.html'">
                <img src="../static/images/thumbnail.png" alt="thumbnail">
                <h4>Lamborghini Aventador</h4>
            </button>
            <button onclick="window.location.href='./templates/showcase.html'">
                <img src="../static/images/thumbnail.png" alt="thumbnail">
                <h4>Lamborghini Aventador</h4>
            </button>
            <button onclick="window.location.href='./templates/showcase.html'">
                <img src="../static/images/thumbnail.png" alt="thumbnail">
                <h4>Lamborghini Aventador</h4>
            </button>
            <button onclick="window.location.href='./templates/showcase.html'">
                <img src="../static/images/thumbnail.png" alt="thumbnail">
                <h4>Lamborghini Aventador</h4>
            </button>
            <button onclick="window.location.href='./templates/showcase.html'">
                <img src="../static/images/thumbnail.png" alt="thumbnail">
                <h4>Lamborghini Aventador</h4>
            </button>
            <button onclick="window.location.href='./templates/showcase.html'">
                <img src="../static/images/thumbnail.png" alt="thumbnail">
                <h4>Lamborghini Aventador</h4>
            </button>
        </div>
    </body>
</html>
