<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carmovie - Quiz</title>

        <link rel="stylesheet" href="../static/css/all.css">
        <link rel="stylesheet" href="../static/css/quizz.css">
        <script src="../scripts/quizz.js" defer></script>
    </head>
    <body>
        <div class="quizz">
            <div id="question"></div>
            <div id="options"></div>
            <button id="next" onclick="loadNextQuestion()">Suivant ▶</button>
            <div id="score"></div>
        </div>
    </body>
</html>
