<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carmovie - Showcase</title>

        <link rel="stylesheet" href="../static/css/all.css">
        <link rel="stylesheet" href="../static/css/showcase.css">
    </head>
    <body>
        <header>
            <h1>CARMOVIE</h1>
            <input type="text" placeholder="Search...">
            <div class="page-nav">
                <a href="../templates/home.html">Home</a>
                <a href="../templates/quiz.html">Quizz</a>
            </div>
        </header>
        <div class="car">
            <div class="thumbnail">
                <img src="../static/images/thumbnail.png" alt="car">
                <h1>Aston Martin DB5</h1>
                <h4>Goldfinger</h4>
            </div>
            <div class="description">
                <div class="textes">
                    <h1>//PRINCIPAL</h1>
                    <h4>Marque</h4>
                    <p>Aston Martin</p>
                    <h4>Années de production</h4>
                    <p>1963 - 1965</p>
                    <h4>Production</h4>
                    <p>1 021 exemplaire(s)</p>
                    <h4>Classe</h4>
                    <p>Voiture de sport GT</p>

                    <h1>//MOTEUR & TRANSMISSION</h1>
                    <h4>Énergie</h4>
                    <p>Essence</p>
                    <h4>Moteur</h4>
                    <p>6 cylindres en ligne 12S</p>
                    <h4>Cylindrée</h4>
                    <p>3 996 cm3</p>
                    <h4>Puissance maximale</h4>
                    <p>286 ch (210 kW)</p>
                    <h4>Transmission</h4>
                    <p>Propulsion</p>

                    <h1>//POIDS & PERFORMANCES</h1>
                    <h4>Poids à vide</h4>
                    <p>1 465 kg</p>
                    <h4>Vitesse maximale</h4>
                    <p>230 km/h</p>
                    <h4>Accélération</h4>
                    <p>0 à 100 km/h en 7,5 s</p>
                    <h4>Consommation mixte</h4>
                    <p>15 L/100 km</p>

                    <h1>//CHÂSSIS - CARROSSERIE</h1>
                    <h4>Carrosserie(s)</h4>
                    <p>Coupé, roadster cabriolet, break de chasse</p>
                    <h4>Suspensions</h4>
                    <p>Triangles superposés (avant) pont rigide, ressorts hélicoïdaux (arrière)</p>
                    <h4>Freins</h4>
                    <p>Quatre disques</p>
                </div>
            </div>
        </div>
    </body>
</html>
